@inject IViewLocalizer Localizer

@model List<OrderViewModel>

@{
    ViewData["Title"] = Localizer["Orders"];
}

<h1>@Localizer["Orders"]</h1>

<div id="orders">
    <partial name="_Orders" model="@Model" />
</div>
