@{
    ViewData["Title"] = "Admin panel";
}

<h1>@ViewData["Title"]</h1>

<a asp-action="CreateProduct" class="btn btn-primary">Add pie</a>
<a asp-action="CreateArticle" class="btn btn-primary">Add news</a>
