@model List<OrderDetailViewModel>

@{
    ViewData["Title"] = "Shop basket";
}

<h1>@ViewData["Title"]</h1>

<form asp-action="PostOrderDetails" asp-controller="Basket">

    <div class="shopping-cart">
        <partial name="_ShoppingCart" for="@Model" />
    </div>

    @if (User.Identity.IsAuthenticated)
    {
        <input type="submit" value="Оформить заказ" class="btn btn-primary" />
    }
    else
    {
        <p>Для оформления заказа войдите в личный кабинет</p>
        <a asp-controller="Account" asp-action="Login" asp-route-returnUrl="@Url.Action("Index", "Basket")">Sign in</a>
    }
</form>
