@model AddEmployeeToOrganizationViewModel

@{
    ViewData["Title"] = "Add";
}

<h1>Add</h1>

<h4>AddEmployee</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Add">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div>@Html.DropDownListFor(x=>x.SelectedEmployeeId, Model.Employees, "-- Select --")</div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

