@inject IViewLocalizer Localizer

@model ProductViewModel
@{
    ViewData["Title"] = Localizer["Edit"];
}

<h1>@Localizer["Edit"]</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ParentProductId" />
            <input type="hidden" asp-for="Description" />
            <input type="hidden" asp-for="ImageUrl" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control disabled" readonly />
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="@Localizer["BtnChange"]" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
